{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["import"],
  "rules": {
    "quotes": ["error", "double", {"avoidEscape": true}],
    "vars-on-top": "off",
    "global-require": "off",
    "import/order": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
